# Created by venv; see https://docs.python.org/3/library/venv.html
test.py
test2.py
model.pkl
/bin/*
/lib/*
/lib64/*
/share/*
pyvenv.cfg
credentials.json
token.json
servicecred.json
.env
SampleData/*
FMCG_Operations_Copilot_Design(1).md